<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by mickey English. It uses data from Mapbox.com and darkskyweather.com.</p>
        <img class="portrait" src="img/5141332.jpeg">
        {{>footer}}
    </div>
</body>

</html>